@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

$color-main-gray: #929292;
$color-light-gray: #F2F2F2;
$color-keppel: #4CB29C;
$color-prussian-blue: #0B3954;
$color-gunmetal: #162521;
$color-tea-green: #bffdb3;
$font-family-poppins:'Poppins', sans-serif;
