@import './variables';
@import "./reset";

*{
    margin: 0;
    padding: 0;
    font-family: $font-family-poppins;
}

.main-sign-in{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        border: 1px solid rgb(209, 205, 205);
        border-radius: 5px;
        background-color: $color-light-gray;
        & h2{
            padding-top: 20px;
            color: $color-keppel;
        }
        &-icons{
            display: flex;
            justify-content: center;
            padding: 20px 0 0 0;
            &-icon{
                display: flex;
                align-items: center;
                gap: 10px;
                padding: 3px;
                &-facebook{
                    height: 20px;
                    width: auto;
                    padding: 3px;
                    border: 1px solid $color-silver;
                    border-radius: 20px;
                }
                &-google{
                    height: 20px;
                    width: auto;
                    padding: 3px;
                    border: 1px solid $color-silver;
                    border-radius: 20px; 
                    gap: 10px;
                }
                &-linkedin{
                    height: 20px;
                    width: auto;
                    padding: 3px;
                    border: 1px solid $color-silver;
                    border-radius: 20px;
                }
            }
        }
        &__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 40px;
            &__input{
                display: flex;
                align-items: center;
                &__icon{
                    background-color: $color-silver;
                    height: 40px;
                    margin-top: 3px;
                    align-items: center;
                    padding: 10px 0 10px 10px;
                    & img{
                        height: 15px;
                        width: auto;
                        align-items: center;
                    }
                }
                
                & input{
                    margin-top: 3px;  
                    padding: 10px;
                    border: none;
                    background-color: $color-silver;
                }
            }
            
            & span{
                padding: 10px 0;
            }
            &__buttons{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px 20px;
                &-button{
                    background-color: $color-keppel;
                    border: 2px solid white;
                    border-radius: 20px;
                    padding: 10px 20px;
                    color: white;
                }
                & span{
                    padding: 10px 20px;
                }
            }
        }
    }
}