@import './variables';
@import "./reset";
@import "./signIn.scss";
@import "./home.scss";
@import "./signUp.scss";

button.swal2-confirm.swal2-styled {
    background-color: $color-keppel;
    box-shadow: none !important;
}

.login-active, .signUp-active, .home-active {
    display: flex;
}

.focus-message {
    &:focus {
        background-color: aquamarine;
    }
}

@media screen and (max-width: 1280px) {
    .home-active {
        display: inline;
    }
}